name: Workflow for data
on: push
jobs:
    lint-test:
        runs-on: ubuntu-latest
        steps:
        - name: Get code
          uses: actions/checkout@v4
        - name: install Dependecies
          run: npm ci
        - name: Lint check 
          run: npm run lint
        - name: Test code 
          run: npm run test
    build:
        needs: lint-test
        runs-on: ubuntu-latest
        outputs:
          script-file: ${{ steps.publish_js_file.outputs.script-file }}
        steps:
        - name: Get code 
          uses: actions/checkout@v4
        - name: install dependencies
          run: npm ci
        - name: Build
          run: npm run build
        - name: Publish JS filename
          id: publish_js_file
          run: find/dist/assets/*.js - type f -execdir echo 'script-file={}'>> $GITHUB_OUTPUT ';'
        - name: Upload artifacts 
          uses: actions/upload-artifact@v4
          with:
            name: dist-files
            path: dist
            
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
        - name: Get build artifacts
          uses: actions/download-artifact@v4
          with:
            name: dist-files
        - name: Output contents
          run: ls
        - name: Output file name
          run: echo "${{needs.build.outputs.script-file}}"
        - name: Deploy
          run: echo "Deploying"
    

        



