name: Workflow two 
on: push
jobs:
    lint-check: 
        runs-on: ubuntnu-latest
        steps:
          - name: get code
            uses: actions/checkout@v4
          - name: install dependencies
            run: npm ci
          - name: run lint check
            run: npm run lint
    test:
        needs: lint-check
        runs-on: ubunutu-latest
        steps:
         - name: get code
           uses: actions/checkout@v4
         - name: install dependecies
           run: npm ci 
         - name: Run Tests
           run: npm run test
    build-deploy:
        needs: test
        runs-on: ubunutu-latest
        steps:
         - name: get code
           uses: actions/checkout@v4
         - name: Install Dependencies
           run: npm ci
         - name: Build 
           run: npm run build
         - name: Deploy
           run: echo "Deployed..."
        
    

